{% extends "base.html" %}

{% block content %}

    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
    
    <script type="text/javascript">

        function showCorrectFormParts(radio) {

            appType = radio.value;
            contractor = document.getElementById("contractor");
            electrician = document.getElementById("electrician");

            switch (appType){
                case 'Contractor only':
                    contractor.style.display = 'inline';
                    electrician.style.display = 'none';
                    break;
                case 'Contractor and Electrician':
                    contractor.style.display = 'inline';
                    electrician.style.display = 'inline';
                    break;
                case 'Self-install':
                    contractor.style.display = 'none';
                    electrician.style.display = 'none';
                    break;
            }

        }

        function ensureMemberIsNotContractor(lastChangedID) {
            
            console.log(lastChangedID)

            member = document.getElementById("emailMember").value;
            contractor = document.getElementById("emailContact").value;
            if (member == contractor) {
                
                alert("Member and contractor must be separate entities. If the member is performing the install, please selct 'Self-install' as the installation type")
                
                differentBlankVal = '';
                if (member == '') {differentBlankVal = ' ';}
                document.getElementById(lastChangedID).value = differentBlankVal;
            }

        }

    </script>

    <H1>New Interconnection Application</H1>

    <form id="application" action='/add-to-queue' method='post'>
        
        <div class="card">
            
            <div class="leftForm">
                <H3>Application Name</H3>
                <input type='text' id='applicationName' name='Application Name' value="{{default.label}}"><br>
            </div>
            
            <div class="rightForm">
            
                <H3>Tarriff</H3>
                
                <input id="aprilRadio" type="radio" name="Tarriff" value="Net metering April kWh reset" checked="True">
                <label for="aprilRadio">Net metering April kWh reset</label>
                <br>

                <input id="novemberRadio" type="radio" name="Tarriff" value="Net metering November kWh reset">
                <label for="novemberRadio">Net metering November kWh reset</label>
                <br>

                <input id="valueRadio" type="radio" name="Tarriff" value="Value of energy">
                <label for="valueRadio">Value of energy</label>
                <br>
            
            </div>
        
        </div>

        <div class="card">

            <!TODO: Figure out "same as member" button.>
            <!TODO: Decide if drop-down for partnered solar installers is good idea, maybe implement?>
            <div class="leftForm">
            
            <H3>Installation Type</H3>
            
            <input onclick="showCorrectFormParts(this)" id="contractorRadio" type="radio" name="Application Type" value="Contractor only" checked="True">
            <label for="contractorRadio">Contractor only</label>
            <br>

            <input onclick="showCorrectFormParts(this)" id="contractorElecRadio" type="radio" name="Application Type" value="Contractor and Electrician">
            <label for="contractorElecRadio">Contractor and Electrician</label>
            <br>
           

            <input onclick="showCorrectFormParts(this)" id="selfRadio" type="radio" name="Application Type" value="Self-install">
            <label for="selfRadio">Self-install</label>
            <br>
            

            <div id='contractor'>
            <H3>Contractor</H3>
            <label for='contact'>Contact:</label><br>
            <input type='text' id='contact' name='Contractor' value='Solar Install, Inc.'><br>
            <label for='contactPersonContact'>Contact Person:</label><br>
            <input type='text' id='contactPersonContact' name='Contact Person (Contact)' value='John Henry'><br>
            <label for='addressContact'>Address:</label><br>
            <input type='text' id='addressContact' name='Address (Contractor)' value='123 Ceder Circle'><br>
            <label for='cityContact'>City:</label><br>
            <input type='text' id='cityContact' name='City (Contractor)' value='Chicago'><br>
            <label for='stateContact'>State:</label><br>
            <input type='text' id='stateContact' name='State (Contractor)' value='IL'><br>
            <label for='zipContact'>Zip Code:</label><br>
            <input type='text' id='zipContact' name='Zip (Contractor)' value='76543'><br>
            <label for='primaryTelephoneContact'>Telephone (Primary):</label><br>
            <input type='text' id='primaryTelephoneContact' name='Primary Telephone (Contractor)' value='2345678987'><br>
            <label for='secondaryTelephoneContact'>Telephone (Secondary):</label><br>
            <input type='text' id='secondaryTelephoneContact' name='Secondary Telephone (Contractor)' value='(234) 567 - 8987'><br>
            <label for='emailContact'>Email Address:</label><br>
            <input type='email' id='emailContact' name='Email (Contractor)' value='installer@solarinstallerinc.tld' onchange="ensureMemberIsNotContractor(this.id)"><br>
            <label for='docketNum'>Docket Number:</label><br>
            <input type='text' id='docketNum' name='Docket Num' value='145558'><br>
            </div>
            
            <div id='electrician'>
            <H3>Electrician</H3>
            <label for='contact2'>Contact:</label><br>
            <input type='text' id='contact2' name='Electrician' value='Solar Install, Inc.'><br>
            <label for='contactPersonContact2'>Contact Person:</label><br>
            <input type='text' id='contactPersonContact2' name='Contact Person (Electrician)' value='John Henry'><br>
            <label for='addressContact2'>Address:</label><br>
            <input type='text' id='addressContact2' name='Address (Electrician)' value='123 Ceder Circle'><br>
            <label for='cityContact'>City:</label><br>
            <input type='text' id='cityContact2' name='City (Electrician)' value='Chicago'><br>
            <label for='stateContact2'>State:</label><br>
            <input type='text' id='stateContact2' name='State (Electrician)' value='IL'><br>
            <label for='zipContact2'>Zip Code:</label><br>
            <input type='text' id='zipContact2' name='Zip (Electrician)' value='76543'><br>
            <label for='primaryTelephoneContact2'>Telephone (Primary):</label><br>
            <input type='text' id='primaryTelephoneContact2' name='Primary Telephone (Electrician)' value='2345678987'><br>
            <label for='secondaryTelephoneContact2'>Telephone (Secondary):</label><br>
            <input type='text' id='secondaryTelephoneContact2' name='Secondary Telephone (Electrician)' value='(234) 567 - 8987'><br>
            <label for='emailContact2'>Email Address:</label><br>
            <input type='email' id='emailContact2' name='Email (Electrician)' value='installer@solarinstallerinc.tld'><br>
            </div>
            </div>

            <div class="rightForm">
            <H3>Member</H3>
            <label for='member'>Member:</label><br>
            <input type='text' id='member' name='Member' value='{{default.name}}'><br>
            <!Is name vs. contact confusing? How to clarify? Maybe ask for Organization?>
            <label for='contactPersonMember'>Contact Person:</label><br>
            <input type='text' id='contactPersonMember' name='Contact Person (Member)' value='{{default.name}}'><br>
            <label for='addressBilling'>Address:</label><br>
            <input type='text' id='addressBilling' name='Address (Billing)' value="{{default.address}}"><br>
            <label for='cityBilling'>City:</label><br>
            <input type='text' id='cityBilling' name='City (Billing)' value='{{default.city}}'><br>
            <label for='stateBilling'>State:</label><br>
            <input type='text' id='stateBilling' name='State (Billing)' value='{{default.state}}'><br>
            <label for='zipBilling'>Zip Code:</label><br>
            <input type='text' id='zipBilling' name='Zip (Billing)' value='{{default.zip}}'><br>
            <label for='primaryTelephoneMember'>Telephone (Primary):</label><br>
            <input type='text' id='primaryTelephoneMember' name='Telephone (Primary, Member)' value='{{default.phone}}'><br>
            <label for='secondaryTelephoneMember'>Telephone (Secondary):</label><br>
            <input type='text' id='secondaryTelephoneMember' name='Telephone (Secondary, Member)' value='{{default.phone}}'><br>
            <label for='emailMember'>Email Address:</label><br>
            <input type='email' id='emailMember' name='Email (Member)' value='{{default.email}}' onchange="ensureMemberIsNotContractor(this.id)"><br>
            </div>

        </div>

        <div class="card">

            <H3 style="width: 100%;">Interconnection Service Information</H3>
            
            <div class="leftForm">
            <H4>Service Information</H4>
            <label for='utility'>Utility:</label><br>
            <input type='text' id='utility' name='Utility' value='Dairyland Power'><br>
            <label for='accountNumber'>Account Number:</label><br>
            <input type='text' id='accountNumber' name='Account Number' value='23456789'><br>
            <label for='meterID'>Meter ID:</label><br>
            <input type='text' id='meterID' name='Meter ID' value="{{default.meterID}}"><br>
            <!TODO: Allow drop-down for pre-certified inverters? Separate application?>
            <label for='inverterManf'>Inverter Manufacturer:</label><br>
            <input type='text' id='inverterManf' name='Inverter Manufacturer' value='Princeton Power'><br>
            <label for='inverterModel'>Inverter Model:</label><br>
            <input type='text' id='inverterModel' name='Inverter Model' value="T"><br>
            <label for='nameplateRatingkW'>Nameplate Rating (kW-AC):</label><br>
            <input type='text' id='nameplateRatingkW' name='Nameplate Rating (kW)' value="{{default.size}}"><br>
            <label for='nameplateRatingkVA'>Nameplate Rating (kVA-AC):</label><br>
            <input type='text' id='nameplateRatingkVA' name='Nameplate Rating (kVA)' value='{{default.size}}'><br>
            <label for='nameplateRatingV'>Nameplate Rating (V-AC):</label><br>
            <input type='text' id='nameplateRatingV' name='Nameplate Rating (V)' value='{{default.voltage}}'><br>
            <!TODO: Make dropdown or radio button>
            <label for='phases'>Single or Three Phase:</label><br>
            <input type='text' id='phases' name='Phases' value='3'><br>
            <label for='primeMover'>Prime Mover:</label><br>
            <input type='text' id='primeMover' name='Prime Mover' value='Photovoltaic'><br>
            <!TODO: Make dropdown or radio button>
            <label for='energySource'>Energy Source:</label><br>
            <input type='text' id='energySource' name='Energy Source' value='Sunlight'><br>
            <!TODO: Should be a bool>
            <label for='ul1741'>Is the equipment UL1741 listed?:</label><br>
            <input type='text' id='ul1741' name='UL1741' value='Yes'> <br>
            <!TODO: Date pickers>
            <label for='installDateEstimated'>Estimated Install Date:</label><br>
            <input type='text' id='installDateEstimated' name='Estimated Install Date' value='11/11/2020'><br>
            <label for='inServiceDateEstimated'>Estimated In-Service Date:</label><br>
            <input type='text' id='inServiceDateEstimated' name='Estimated In-Service Date' value='9/11/2021'><br>
            <!TODO: Table for Equipment - Certification>
            </div>

            <!TODO: Figure out how to add multiple owners.>
            <div class="rightForm">
            <H4>Owner</H4>
            <label for='owner'>Owner:</label><br>
            <input type='text' id='owner' name='Owner' value='{{default.name}}'><br>
            <H4>Location</H4>
            <!TODO: Figure out "same as above" button.>
            <label for='addressService'>Address:</label><br>
            <input type='text' id='addressService' name='Address (Service)' value='{{default.address}}'><br>
            <label for='cityService'>City:</label><br>
            <input type='text' id='cityService' name='City (Service)' value='{{default.city}}'><br>
            <label for='stateService'>State:</label><br>
            <input type='text' id='stateService' name='State (Service)' value="{{default.state}}"><br>
            <label for='zipService'>Zip Code:</label><br>
            <input type='text' id='zipService' name='Zip (Service)' value="{{default.zip}}"><br>
            </div>
        </div>
        
        <div class="card">
            <p> By clicking the checkbox and typing their name below, the member agrees to provide the Cooperative with any additional information required to complete the interconnection. The member shall operate his equipment within the guidelines set forth by the cooperative. </p>
            <p><input required type="checkbox" id="agreement" name="Agreement">
            <label for="agreement"> I accept the terms above</label> </p>
            <p><input required type="text" placeholder="Please type your name here" id="signed" name="Signed"></p>
            <input type='submit' value='Submit'>
        </div>

    </form>
{% endblock %}
