{% extends "base.html" %}

{% block content %}
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>

    <H1>New Interconnection Application</H1>

    <form id="application" action='/add-to-queue' method='post'>
        
        <div class="card">
            
            <div class="leftForm">
            <H3>Application Name:</H3>
            <input type='text' id='applicationName' name='Application Name' value="{{default.label}}"><br>
            </div>
            
            <div class="rightForm">
            <H3>Tarif</H3>
            <input type="radio" id="Net Metering" name="Tarif" value="Net Metering" checked="checked">
            <label for="Net Metering">Net Metering</label><br>
            <input type="radio" id="Value of Solar" name="Tarif" value="Value of Solar">
            <label for="Value of Solar">Value of Solar</label><br>
            </div>
        
        </div>

        <div class="card">

            <div class="leftForm">
            <H3>Member</H3>
            <label for='member'>Member:</label><br>
            <input type='text' id='member' name='Member' value='{{default.name}}'><br>
            <!Is name vs. contact confusing? How to clarify? Maybe ask for Organization?>
            <label for='contactPersonMember'>Contact Person:</label><br>
            <input type='text' id='contactPersonMember' name='Contact Person (Member)' value='{{default.name}}'><br>
            <label for='addressBilling'>Address:</label><br>
            <input type='text' id='addressBilling' name='Address (Billing)' value="{{default.address}}"><br>
            <label for='cityBilling'>City:</label><br>
            <input type='text' id='cityBilling' name='City (Billing)' value='{{default.city}}'><br>
            <label for='stateBilling'>State:</label><br>
            <input type='text' id='stateBilling' name='State (Billing)' value='{{default.state}}'><br>
            <label for='zipBilling'>Zip Code:</label><br>
            <input type='text' id='zipBilling' name='Zip (Billing)' value='{{default.zip}}'><br>
            <label for='primaryTelephoneMember'>Telephone (Primary):</label><br>
            <input type='text' id='primaryTelephoneMember' name='Telephone (Primary, Member)' value='{{default.phone}}'><br>
            <label for='secondaryTelephoneMember'>Telephone (Secondary):</label><br>
            <input type='text' id='secondaryTelephoneMember' name='Telephone (Secondary, Member)' value='{{default.phone}}'><br>
            <label for='emailMember'>Email Address:</label><br>
            <input type='text' id='emailMember' name='Email (Member)' value='{{default.email}}'><br>
            </div>

            <!TODO: Figure out "same as above" button.>
            <!TODO: Decide if drop-down for partnered solar installers is good idea, maybe implement?>
            <div class="rightForm">
            <H3>Contact</H3>
            <label for='contact'>Contact:</label><br>
            <input type='text' id='contact' name='Contact' value='Solar Install, Inc.'><br>
            <label for='contactPersonContact'>Contact Person:</label><br>
            <input type='text' id='contactPersonContact' name='Contact Person (Contact)' value='John Henry'><br>
            <label for='addressContact'>Address:</label><br>
            <input type='text' id='addressContact' name='Address (Contact)' value='123 Ceder Circle'><br>
            <label for='cityContact'>City:</label><br>
            <input type='text' id='cityContact' name='City (Contact)' value='Chicago'><br>
            <label for='stateContact'>State:</label><br>
            <input type='text' id='stateContact' name='State (Contact)' value='IL'><br>
            <label for='zipContact'>Zip Code:</label><br>
            <input type='text' id='zipContact' name='Zip (Contact)' value='76543'><br>
            <label for='primaryTelephoneContact'>Telephone (Primary):</label><br>
            <input type='text' id='primaryTelephoneContact' name='Primary Telephone (Contact)' value='2345678987'><br>
            <label for='secondaryTelephoneContact'>Telephone (Secondary):</label><br>
            <input type='text' id='secondaryTelephoneContact' name='Secondary Telephone (Contact)' value='(234) 567 - 8987'><br>
            <label for='emailContact'>Email Address:</label><br>
            <input type='text' id='emailContact' name='Email (Contact)' value='installer@solarinstallerinc.tld'><br>
            </div>
        </div>

        <div class="card">

            <H3 style="width: 100%;">Interconnection Service Information</H3>
            
            <div class="leftForm">
            <H4>Service Information</H4>
            <label for='utility'>Utility:</label><br>
            <input type='text' id='utility' name='Utility' value='Dairyland Power'><br>
            <label for='accountNumber'>Account Number:</label><br>
            <input type='text' id='accountNumber' name='Account Number' value='23456789'><br>
            <label for='meterID'>Meter ID:</label><br>
            <input type='text' id='meterID' name='Meter ID' value="{{default.meterID}}"><br>
            <!TODO: Allow drop-down for pre-certified inverters? Separate application?>
            <label for='inverterManf'>Inverter Manufacturer:</label><br>
            <input type='text' id='inverterManf' name='Inverter Manufacturer' value='Princeton Power'><br>
            <label for='inverterModel'>Inverter Model:</label><br>
            <input type='text' id='inverterModel' name='Inverter Model' value="T"><br>
            <label for='nameplateRatingkW'>Nameplate Rating (kW):</label><br>
            <input type='text' id='nameplateRatingkW' name='Nameplate Rating (kW)' value="{{default.size}}"><br>
            <label for='nameplateRatingkVA'>Nameplate Rating (kVA):</label><br>
            <input type='text' id='nameplateRatingkVA' name='Nameplate Rating (kVA)' value='{{default.size}}'><br>
            <label for='nameplateRatingV'>Nameplate Rating (V):</label><br>
            <input type='text' id='nameplateRatingV' name='Nameplate Rating (V)' value='{{default.voltage}}'><br>
            <!TODO: Make dropdown or radio button>
            <label for='phases'>Single or Three Phase:</label><br>
            <input type='text' id='phases' name='Phases' value='3'><br>
            <label for='primeMover'>Prime Mover:</label><br>
            <input type='text' id='primeMover' name='Prime Mover' value='Photovoltaic'><br>
            <!TODO: Make dropdown or radio button>
            <label for='energySource'>Energy Source:</label><br>
            <input type='text' id='energySource' name='Energy Source' value='Sunlight'><br>
            <!TODO: Should be a bool>
            <label for='ul741'>Is the equipment UL741 listed?:</label><br>
            <input type='text' id='ul741' name='UL741' value='Yes'> <br>
            <!TODO: Date pickers>
            <label for='installDateEstimated'>Estimated Install Date:</label><br>
            <input type='text' id='installDateEstimated' name='Estimated Install Date' value='11/11/2020'><br>
            <label for='inServiceDateEstimated'>Estimated In-Service Date:</label><br>
            <input type='text' id='inServiceDateEstimated' name='Estimated In-Service Date' value='9/11/2021'><br>
            <!TODO: Table for Equipment - Certification>
            </div>

            <!TODO: Figure out how to add multiple owners.>
            <div class="rightForm">
            <H4>Owner</H4>
            <label for='owner'>Owner:</label><br>
            <input type='text' id='owner' name='Owner' value='{{default.name}}'><br>
            <H4>Location</H4>
            <!TODO: Figure out "same as above" button.>
            <label for='addressService'>Address:</label><br>
            <input type='text' id='addressService' name='Address (Service)' value='{{default.address}}'><br>
            <label for='cityService'>City:</label><br>
            <input type='text' id='cityService' name='City (Service)' value='{{default.city}}'><br>
            <label for='stateService'>State:</label><br>
            <input type='text' id='stateService' name='State (Service)' value="{{default.state}}"><br>
            <label for='zipService'>Zip Code:</label><br>
            <input type='text' id='zipService' name='Zip (Service)' value="{{default.zip}}"><br>
            </div>
        </div>
        
        <div class="card">
            <p> By clicking the checkbox and typing their name below, the member agrees to provide the Cooperative with any additional information required to complete the interconnection. The member shall operate his equipment within the guidelines set forth by the cooperative. </p>
            <p><input required type="checkbox" id="agreement" name="Agreement">
            <label for="agreement"> I accept the terms above</label> </p>
            <p><input required type="text" placeholder="Please type your name here" id="signed" name="Signed"></p>
            <input type='submit' value='Submit'>
        </div>

    </form>
{% endblock %}
