<!DOCTYPE html>
<html>
<head>{% block head %} {% endblock %}</head>
<body>
	<img src={{ logo }} alt={{ utilityName }} width="95%">
	{% if current_user.type == 'engineer' or current_user.type == 'customer' %}
		<a href='/logout'>Logout</a>
	{% endif %}
	<hr>
	{% block content %} {% endblock %}
	{% if current_user.type == 'engineer' %} {% block engineer %}{% endblock %}
	{% elif current_user.type == 'customer' %} {% block customer %}{% endblock %}
	{% else %} {% block anonymous %}{% endblock %} {% endif %}
	<hr>
	<div id="footer">&copy; Copyright 2020 by <a href="http://nreca.coop">NRECA</a></div>
</body>
</html>