<!DOCTYPE html>
<html>
<head>{% block head %} {% endblock %}</head>
<body>
	<img src={{ logo }} alt={{ utilityName }} width="95%">

	{% if current_user.is_authenticated() %}
		<a href='/'>Home</a>
		<a href='/logout'>Logout</a>
	{% else %}
		<a href='/login'>Login</a>
		<a href='/register'>Register</a>
		{% block anonymous %}{% endblock %}
	{% endif %}
	<hr>
	{% if notification%}
	<H3> {{ notification }} </H3>
	{% endif %}
	{% block content %} {% endblock %}
	{% if 'engineer' in current_user.roles %} {% block engineer %}{% endblock %}
	{% elif 'memberServices' in current_user.roles %} {% block ms %}{% endblock %}
	{% else %} {% block customer %}{% endblock %}
	{% endif %}
	<hr>
	<div id="footer">&copy; Copyright 2020 by <a href="http://nreca.coop">NRECA</a></div>
</body>
</html>
