<!DOCTYPE html>
<html>

<body>

    <ul>
        <li><a href='/customerLanding2'>Interconnection Home</a></li>
        <li><a href='/application'>New Interconnection Application</a></li>
        <li><a href='/login/customer'>Logout</a></li>
    </ul>
    <hr>

    <H1>Interconnection Fast-Track Screening Results</H1>

    <p>This interconnection application has been approved.</p>

    <table style='width:100%' border='1'>
        <tr>
            <th>Test</th>
            <th>Pass/Fail</th>
            <th>Comment</th>
        </tr>
            <th>Screen 1</th>
            <th style='font-weight: normal'>Pass</th>
            <th style='font-weight: normal'>Lorem ipsum</th>
        </tr>
            <th>Screen 2</th>
            <th style='font-weight: normal'>Pass</th>
            <th style='font-weight: normal'>Lorem ipsum</th>
        </tr>
        </tr>
            <th>Screen 3</th>
            <th style='font-weight: normal'>Pass</th>
            <th style='font-weight: normal'>Lorem ipsum</th>
        </tr>
            <th>Screen 4</th>
            <th style='font-weight: normal'>Pass</th>
            <th style='font-weight: normal'>Lorem ipsum</th>
        </tr>
    </table>


</body>

</html>