<!DOCTYPE html>
<html>

<body>

    <ul>
        <li><a href='/customerLanding'>Interconnection Home</a></li>
        <li><a href='/application'>New Interconnection Application</a></li>
        <li><a href='/login/customer'>Logout</a></li>
    </ul>
    <hr>

    <H1>Interconnecting Distributed Generation at Dairyland Power</H1>
    <p>lorem ipsum</p>

    <H3>My interconnection applications</H3>
    <table style='width:100%' border='1'>
        <tr>
            <th>Queue Position</th>
            <th>Time of Request</th>
            <th>Address (Facility)</th>
            <th>Status</th>
            <th>Report</th>
        </tr>
        {% for row in data %}
        <tr>
            <th style='font-weight: normal'>{{row[0]}}</th>
            <th style='font-weight: normal'>{{row[1]}}</th>
            <th style='font-weight: normal'>{{row[2]}}</th>
            <th style='font-weight: normal'>{{row[3]}}</th>
            <th style='font-weight: normal'><a href='{{"report/" + row[0]}}'>See report</a></th>
        </tr>
        {% endfor %}
    </table>




</body>

</html>