{% extends 'base.html' %}

{% block engineer %}
	{{ interconnectionTable('Action Needed', priorities)}}
	{{ interconnectionTable('Interconnection Queue', data)}}
	<H1>System Overview</H1>
	<figure>
        <img src='send-file/data/sample/voltage-feeder.png' style='width:100%'>
        <figcaption>Voltage feeder diagram.</figcaption>
    </figure>
{% endblock %}

{% block ms %}
	{{ interconnectionTable('Action Needed', priorities)}}
	{{ interconnectionTable('Interconnection Queue', data)}}
{% endblock %}

{% block customer %}
	<H1>Interconnecting Distributed Generation</H1>
	<p>Welcome to NRECA's Interconnection tool! To learn more about...</p>
	<a href='/application'>Apply for Interconnection</a>
	<p></p>
	{{ interconnectionTable('Action Needed', priorities)}}
	{{ interconnectionTable('My Interconnection Applications', data)}}
{% endblock %}

{% block anonymous %}
    <form action='/login'>
        <label for='username'>Username:</label><br>
        <input type='text' id='username' name='username' required><br>
        <label for='password'>Password:</label><br>
        <input type='password' id='password' name='password' required><br><br>
        <input type='submit' value='Submit'>
    </form>
{% endblock %}

{% macro interconnectionTable(header, passedData) %}
{% if passedData %}
	<H1>{{ header }}</H1>
	<table style='width:100%' border='1'>
	    <tr>
	        <th>Queue Position</th>
	        <th>Time of Request</th>
	        <th>Address (Facility)</th>
	        <th>Status</th>
	        <th>Report</th>
	    </tr>
	    {% for row in passedData %}
	    <tr>
	        <th style='font-weight: normal'>{{row[0]}}</th>
	        <th style='font-weight: normal'>{{row[1]}}</th>
	        <th style='font-weight: normal'>{{row[2]}}</th>
	        <th style='font-weight: normal'>{{row[3]}}</th>
	        <th style='font-weight: normal'><a href='{{"report/" + row[0]}}'>See report</a></th>
	    </tr>
	    {% endfor %}
	</table>
{% endif %}
{% endmacro %}