{% extends 'base.html' %}

{% block banner %}
<style type="text/css">#bg{background-image:url({{bg}})</style>
	<div id="titleContainer" class="content">
		<p id="title">Rapid, Rural, and Resilient Interconnection Toolkit</p>
		<div id="bannerButtons">
			<a href="/login">LOGIN</a> <a href="/register">REGISTER</a>
		</div>
	</div>
{% endblock %}

{% block engineer %}
	{{progressBar()}}
	{{ interconnectionTable('Action Needed', priorities)}}
	{{ interconnectionTable('Interconnection Queue', data)}}
	<H1>System Overview</H1>
	<figure class="card">
        <img src='static/voltage-feeder.png' style='width:100%'>
        <figcaption>Voltage feeder diagram.</figcaption>
    </figure>
{% endblock %}

{% block ms %}
	{{progressBar()}}
	{{ interconnectionTable('Action Needed', priorities)}}
	{{ interconnectionTable('Interconnection Queue', data)}}
{% endblock %}

{% block customer %}
	<H1>Interconnecting Distributed Generation</H1>
	<p>Welcome to NRECA's Interconnection tool! To learn more about...</p>
	<a href='/application'>Apply for Interconnection</a>
	<p></p>
	{{progressBar()}}
	{{ interconnectionTable('Action Needed', priorities)}}
	{{ interconnectionTable('My Interconnection Applications', data)}}
{% endblock %}

{% block anonymous %}
	<div class="card">
	<H1>Interconnecting Distributed Generation</H1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>

	<div class="card">
	<H1>Case Study</H1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>

	<div class="card">
	<H1>Getting Started</H1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>

	<div class="card">
	<H1>FAQ</H1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
{% endblock %}

{% macro interconnectionTable(header, passedData) %}
{% if passedData %}
	<H1>{{ header }}</H1>
	<table style='width:100%' border='1'>
	    <tr>
	        <th>Queue Position</th>
	        <th>Time of Request</th>
					<th>Application ID</th>
	        <th>Address (Facility)</th>
	        <th>Status</th>
	        <th>Report</th>
	    </tr>
	    {% for row in passedData %}
	    <tr>
	        <th style='font-weight: normal'>{{row[0]}}</th>
	        <th style='font-weight: normal'>{{row[1]}}</th>
	        <th style='font-weight: normal'>{{row[2]}}</th>
	        <th style='font-weight: normal'>{{row[3]}}</th>
	        <th style='font-weight: normal'>{{row[4]}}</th>
	        <th style='font-weight: normal'><a href='{{"report/" + row[2]}}'>See report</a></th>
	    </tr>
	    {% endfor %}
	</table>
{% endif %}
{% endmacro %}


{% macro progressBar() %}
{% if netMeteringUsed > 0 %}
<H3>Net Metering Capacity Used: {{netMeteringUsed}}%</H3>
<div id="progressBarBackground">
	<div id="progressBar" style="width:{{netMeteringUsed}}%"></div>
</div>
{% endif %}
{% endmacro %}