{% extends 'base.html' %}

{% block anonymous %}
<style type="text/css">#bg{background-image:url({{bg}})}</style>
<style type="text/css">#bg{height: 100%;}</style>

<div class="col-10 col-sm-7 col-md-5 col-lg-4 m-auto row g-5 card text-center" id="login">
    <form action="/login" method="post">
        <h1 class="mb-3">Log In</h1>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" required>
            <label for="email">Email Address</label>
        </div>
        <div class="form-floating mb-2">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
            <label for="password">Password</label>
        </div>
        <a href="/forgot" class="text-muted">Forgot password?</a>
        <button type="submit" class="btn btn-dark btn-lg col-12 my-4">Log In</button>
    </form>
</div>
{% endblock %}
