{% extends 'base.html' %}

{% block anonymous %}
<style type="text/css">#bg{background-image:url({{bg}})</style>
<style type="text/css">#bg{height: 100%;}</style>
<div id="login" >
    <!-- Bootstrap new password block -->
    <h1>New Password</h1>
    <p>Enter a new password for your account below.</p>
    <form action="{{'/newpassword/' + email + '/' + token}}" method='post'>
        <div class="form-group">
            <label for="password" class="sr-only">New Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="New Password" required>
        </div>
        <button type="submit" formaction="{{'/newpassword/' + email + '/' + token}}" method="post" class="btn btn-block btn-light">Update Password</button>
    </form>
</div>
{% endblock %}
