{% extends 'base.html' %}

{% block anonymous %}
<style type="text/css">#bg{background-image:url({{bg}})</style>
<style type="text/css">#bg{height: 100%;}</style>
<div id="login" >
    <h1>Please enter your new password.</h1>
    <form action="{{'/newpassword/' + email + '/' + token}}" method='post'>
        <input type='text' placeholder="Password" id='password' name='password' required>
        <button type="submit" formaction="{{'/newpassword/' + email + '/' + token}}" method="post">Update Password</button>
    </form>
</div>
{% endblock %}
