{% extends "base.html" %}

{% block content %}
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>

    <h1 class="my-4">Interconnection Application Payment</h1>
    <hr class="my-4">

    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center py-4">
            <div class="me-4">
                <div class="h5 my-0">Interconnection Application Fee</div>
                <small class="text-muted">New application processing fee</small>
            </div>
            <span class="h5 my-0 text-muted">$50.00</span>
        </li>
    </ul>

    <div class="row my-4 justify-content-sm-center">
        <div class="col-sm-6">
            <button type="submit" class="btn btn-dark w-100" id="checkoutButton">
                <span class="spinner-border spinner-border-sm me-2" id="checkoutSpinner" role="status" aria-hidden="true" hidden></span>
                Checkout
            </button>
        </div>
    </div>
    
    <script type="text/javascript">
        // Create an instance of the Stripe object with your publishable API key
        const stripe = Stripe("pk_test_LAZ0aEKWMLHbPSFIms7YzLkK00EHoWgCGB");
        const checkoutButton = document.getElementById("checkoutButton");
        const checkoutSpinner = document.getElementById("checkoutSpinner")
    
        checkoutButton.addEventListener("click", function () {
            checkoutSpinner.removeAttribute("hidden")

            fetch("/create-checkout-session/{{ id }}", {
                method: "POST",
            })
            .then(function (response) {
                return response.json();
            })
            .then(function (session) {
                return stripe.redirectToCheckout({ sessionId: session.id });
            })
            .then(function (result) {
                // If redirectToCheckout fails due to a browser or network
                // error, you should display the localized error message to your
                // member using error.message.
                if (result.error) {
                    checkoutSpinner.setAttribute("hidden", "true")
                    alert(result.error.message);
                }
            })
            .catch(function (error) {
                console.error("Error:", error);
            });
        });
    </script>
{% endblock %}
