{% extends "base.html" %}

{% block content %}
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>

    <H1>New Interconnection Application</H1>

        <div class="product">
          <img
          src="https://i.imgur.com/EHyR2nP.png"
          alt="filler image"
          />
          <div class="description">
            <h3>Interconnection Application Fee</h3>
            <h5>$50.00</h5>
          </div>
          <button id="checkout-button">Checkout</button>
        </div>


{% endblock %}
