<!DOCTYPE html>
<html>

<body>

    <ul>
        <li><a href='/overview'>Overview</a></li>
        <li><a href='/queue'>Queue</a></li>
    </ul>

    <p>hello i am the interconnection queue</p>


    <table style='width:100%' border='1'>

        <tr>
            <th>Queue</th>
            <th>Datetime</th>
            <th>Location</th>
            <th>Status</th>

        </tr>
        {% for row in data %}
        <tr>
            {% for item in row %}
            <th style='font-weight: normal'>{{item}}</th>
            {% endfor %}
            <th>See report</th>

        </tr>
        {% endfor %}

    </table>



    <p>Add fake data here for testing</p>
    <form action='/add-to-queue' method='post'>
        <label for='datetime'>Datetime:</label><br>
        <input type='text' id='datetime' name='datetime'><br>
        <label for='location'>Location:</label><br>
        <input type='text' id='location' name='location'><br>
        <label for='status'>Status:</label><br>
        <input type='text' id='status' name='status'><br>
        <input type='submit' value='Submit'>
    </form>


</body>

</html>