<!DOCTYPE html>
<html>

<body>

    <ul>
        <li><a href='/overview'>Overview</a></li>
        <li><a href='/queue'>Queue</a></li>
        <li><a href='/login/engineer'>Logout</a></li>
    </ul>
    <hr>

    <p>hello i am the interconnection queue</p>

    <table style='width:100%' border='1'>
        <tr>
            <th>Queue</th>
            <th>Datetime</th>
            <th>Location</th>
            <th>Status</th>
            <th>Report</th>
        </tr>
        {% for row in data %}
        <tr>
            <th style='font-weight: normal'>{{row[0]}}</th>
            <th style='font-weight: normal'>{{row[1]}}</th>
            <th style='font-weight: normal'>{{row[2]}}</th>
            <th style='font-weight: normal'>{{row[3]}}</th>
            <th style='font-weight: normal'><a href='{{"report/" + row[4]}}'>See report</a></th>
        </tr>
        {% endfor %}
    </table>


    <hr>
    <p>Add fake data here for testing</p>
    <form action='/add-to-queue' method='post'>
        <label for='datetime'>Datetime:</label><br>
        <input type='text' id='datetime' name='datetime' required><br>
        <label for='location'>Location:</label><br>
        <input type='text' id='location' name='location' required><br>
        <input type='submit' value='Submit'>
    </form>


</body>

</html>