{% extends "base.html" %}

{% block content %}

    <H1>Interconnection Queue</H1>

    <table style='width:100%' border='1'>
        <tr>
            <th>Queue Position</th>
            <th>Time of Request</th>
            <th>Address (Facility)</th>
            <th>Status</th>
            <th>Report</th>
        </tr>
        {% for row in data %}
        <tr>
            <th style='font-weight: normal'>{{row[0]}}</th>
            <th style='font-weight: normal'>{{row[1]}}</th>
            <th style='font-weight: normal'>{{row[2]}}</th>
            <th style='font-weight: normal'>{{row[3]}}</th>
            <th style='font-weight: normal'><a href='{{"report/" + row[0]}}'>See report</a></th>
        </tr>
        {% endfor %}
    </table>

{% endblock %}