{% extends 'base.html' %}

{% block anonymous %}
    <form action='/login' method='post'>
        <label for='email'>Email:</label><br>
        <input type='text' id='email' name='email' required><br>
        <label for='password'>Password:</label><br>
        <input type='password' id='password' name='password' required><br><br>
        {{ captcha() }} <br> <!-- This renders an <img> tag with the captcha img. -->
	    <input type="text" name="captcha" required>
        <button type="submit" formaction="/register" method="post">Register</button>
    </form>
{% endblock %}
