{% extends 'base.html' %}


{% block anonymous %}
<style type="text/css">#bg{background-image:url({{bg}})</style>
<style type="text/css">#bg{height: 100%;}</style>
<div id="login" >
    <h1>Enter email and password to register an account</h1>
    <form action='/login' method='post'>
        <input type='text' placeholder="    Email" id='email' name='email' required>
        <br>
        <input type='password' placeholder="    Password" id='password' name='password' required>
        <br>
        {{ captcha() }} <!-- This renders an <img> tag with the captcha img. -->
	    <br>
	    <input type="text" placeholder="    Captcha" name="captcha" required>
	    <br>
        <button type="submit" formaction="/register" method="post">Register</button>
    </form>
</div>
{% endblock %}
