{% extends "base.html" %}

{% block head %}
    <!-- Library Imports -->
    <script>sampleData = {{ eng_data | tojson }} </script>
{% endblock %}

{% block content %}
    
    <h1>Interconnection report for request {{data['ID']}}</h1>
    <hr>

    {% if (
        ('engineer' in current_user.roles) or 
        ('memberServices' in current_user.roles)
    ) %}
        {{notes()}}
    {% endif %}

    {% if ( 
        (current_user.roles == []) and 
        (current_user.is_authenticated) and 
        (data['Status'] == 'Delegation Required')
    ) %}

       <h3>Delegation Required</h3>
        <div class="card">
        The contractor is not curently authorized to communicate about this application on the member's behalf. An email was sent to the member email associated with this account containing a link to provide the approval. If the member did not receive the email, or would like us to resend it, please ensure the member email in the 'Application Details' below is correct, and then click the "Send Delegation Email' button below.
        </div>
        <a href="{{'/sendDelegationEmail/' + data['ID'] }}">
            <button id="sendDelegationEmail">Send Delegation Email</button>
        </a>
        <h1><hr></h1>
       
    {% endif %}

    <h3>Application details</h3>

    <table>
    
        {% if(edits != {}) %}
            <tr>
                <th></th>
                <th>Original</th>
                <th>Updated</th>
            </tr>
        {% endif %}

        {% for key in data %}
            
            {% if ( 
                (key != 'Notes') and 
                (key != 'Screen Results') and 
                (key != 'markedForRerunDueToWithdrawal') and
                (key != 'previousRequestWithdrawn') and
                (key != 'Agreement')
            ) %}

                <tr>
                    <th>{{key}}</th>
                    <td>{{data[key]}}</td>

                    {% if(edits != {}) %}
                        {% if(key in edits) %}
                            <td>{{edits[key]}}</td>
                        {% else %} <td></td>
                        {% endif %}
                    {% endif %}

                </tr>

            {% endif %}
        
        {% endfor %}
    </table>

    {% if (data['Status'] in ['Payment Required', 'Delegation Required', 'Application Submitted', 'Engineering Review']) %}

        {% if (current_user.roles == []) and current_user.is_authenticated %}
            <a href="{{'/edit/' + data['ID'] }}"><button id="editDetails">Edit Application Details</button></a>
        {% endif %}
        
        {% if(edits != {}) %}
        {% if('engineer' in current_user.roles) %}
            <a href="{{'/reviewEdits/' + data['ID'] + '/accept' }}"><button id="acceptEdits">Accept Application Changes</button></a>
            <a href="{{'/reviewEdits/' + data['ID'] + '/reject' }}"><button id="rejectEdits">Reject Application Changes</button></a>
        {% endif %}
        {% endif %}

    {% endif %}

    <h3><hr></h3>


    <h3>Attachments</h3>
    
    <!-- <div id='attachments'>

        {% for doc in appAttachments %}
        
            <hr>
            
            <H3>{{doc}}</H3>
            
            <table>
                {% for file in files.get(doc, None) %}
                    <tr>
                    <th>{{file}}</th>
                    <th style='font-weight: normal'>
                        <a href="{{'/download/' + data['ID']+'/'+doc+'/'+file}}">Download</a>
                    </th>
                    </tr>
                {% endfor %}
          </table>

          <form action="{{'/upload/' + data['ID'] + '/' + doc}}" method="post" enctype="multipart/form-data">
              <input type="file" name="file">
              <input type="submit" value="{{'Upload ' + doc}}">
          </form>

        {% endfor %}

        <hr>

    </div> -->

    <!-- Bootstrap attachments -->
    <div>
    {% for doc in appAttachments %}
        <h5>{{doc}}</h5>

        <!-- TODO: Bootstrap table -->
        <table>
            {% for file in files.get(doc, None) %}
                <tr>
                <th>{{file}}</th>
                <th style='font-weight: normal'>
                    <a href='{{"/download/" + data['ID']+'/'+doc+'/'+file}}'>Download</a>
                </th>
                </tr>
            {% endfor %}
        </table>

        <form action="{{'/upload/' + data['ID'] + '/' + doc}}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label class="btn btn-dark mb-0" for="{{doc.replace(' ', '')}}FileUpload">
                    <input type="file" class="form-control-file d-none" id="{{doc.replace(' ', '')}}FileUpload" name="file">
                    Choose File
                </label>
                <span class="label label-info" id="{{doc.replace(' ', '')}}FileInfo">No file chosen</span>
                <label for="{{doc.replace(' ', '')}}FileSubmit" class="sr-only">Upload {{doc}}</label>
                <input type="submit" class="btn btn-dark" id="{{doc.replace(' ', '')}}FileSubmit" value="{{'Upload ' + doc}}">
            </div>
        </form>
        
        <script type="text/javascript">
            {
                let docFileUpload = document.getElementById("{{doc}}".replace(/\s+/g, "") + "FileUpload")
                let docFileInfo = document.getElementById("{{doc}}".replace(/\s+/g, "") + "FileInfo")
                docFileUpload.addEventListener("change", () => {
                    docFileInfo.innerHTML = docFileUpload.files.length ? docFileUpload.files[0].name : "No file chosen"
                })
            }
        </script>
    {% endfor %}
    </div>

    <hr>
    

    {% if (data.get('Screen Results','') != '') %}
    <h3><hr><h3>
    <H3>Automated Screening Results</H3>
    <table>
        {% for key in data['Screen Results'] %}
        {% if (key != 'passedAll') %}
            <tr>
                <th>{{key}}</th>
                <th style='font-weight: normal'>{{data['Screen Results'][key]}}</th>
            </tr>
        {% endif %}
        {% endfor %}
    </table>
    {% endif %}

    <h3>Status</h3>

    <!-- Bootstrap update buttons -->
    {% for update in updates %}
    <form action="{{'/update-status/' + data['ID'] + '/' + update}}">
        <div class="form-group">
            <button type="submit" class="btn btn-dark" value="{{'Update status to ' + update}}">
                {{'Update status to '}}
                <span class="font-italic">{{update}}</span>
            </button>
        </div>
    </form>
    {% endfor %}

    <hr>

{% endblock %}

{% block member %}
    
    <!-- Bootstrap payment button -->
    {% if data['Status'] == 'Payment Required' %}
        <h5>Payment required</h5>
        <a href="{{'/payment/' + data['ID']}}">
            <button class="btn btn-dark" id="pay">Pay Application Fee</button>
        </a>
    {% endif %}
    
    <!-- Bootstrap withdraw modal -->
    <div class="modal fade" id="withdrawModal" tabindex="-1" aria-labelledby="withdrawModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="withdrawModalTitle" >Withdraw Interconnection Application</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">Are you sure you want to withdraw the application?</div>
                <div class="modal-footer">
                    <form action="{{'/update-status/' + data['ID'] + '/Withdrawn'}}">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cancel">Cancel</button>
                        <button type="submit" class="btn btn-danger" id="withdraw">
                            <span class="spinner-border spinner-border-sm" id="withdrawSpinner" role="status" aria-hidden="true" hidden></span>
                            Withdraw
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Custom script to display withdraw button spinner -->
    <script type="text/javascript">
        const withdrawSpinner = document.getElementById("withdrawSpinner")
        const withdrawButton = document.getElementById("withdraw")
        withdrawButton.addEventListener("click", () => {
            if (withdrawSpinner.hasAttribute("hidden")) {
                withdrawSpinner.removeAttribute("hidden")
            }
        })
    </script>

    <!-- Bootstrap withdraw button -->
    <h5>Click below to Withdraw Interconnection Application</h5>
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#withdrawModal">Withdraw Application</button>    
    <hr>

{% endblock %}

{% block ms %}
{% endblock %}

{% block engineer %}
    {% if eng_data|length != 0 %}
    
    <script src="/static/sorttable.js"></script>

    <H2>Interconnection Details</H2>

    <!-- Tables -->
    <p class="reportTitle">Maximum and Minimum Voltages</p>
    <table id="minMaxVolts">
        <tr>
            <th rowspan="2">DER Status</th>
            <th rowspan="2">Load Condition</th>
            <th colspan="2">Max Voltage</th>
            <th colspan="2">Min Voltage</th>
        </tr>
        <tr>
            <th>V</th>
            <th>Location</th>
            <th>V</th>
            <th>Location</th>
        </tr>
        <tr>
            <td>On</td>
            <td>Peak</td>
            <td id="derOnMaxVoltValPeak"></td>
            <script type="text/javascript">
                document.getElementById("derOnMaxVoltValPeak").innerHTML = sampleData['maxVoltsPeakDerOn'][1]
            </script>
            <td id="derOnMaxVoltLocPeak"></td>
            <script type="text/javascript">
                document.getElementById("derOnMaxVoltLocPeak").innerHTML = sampleData['maxVoltsPeakDerOn'][0]
            </script>
            <td id="derOnMinVoltValPeak"></td>
            <script type="text/javascript">
                document.getElementById("derOnMinVoltValPeak").innerHTML = sampleData['minVoltsPeakDerOn'][1]
            </script>
            <td id="derOnMinVoltLocPeak"></td>
            <script type="text/javascript">
                document.getElementById("derOnMinVoltLocPeak").innerHTML = sampleData['minVoltsPeakDerOn'][0]
            </script>
        </tr>
        <tr>
            <td>On</td>
            <td>Min</td>
            <td id="derOnMaxVoltValMin"></td>
            <script type="text/javascript">
                document.getElementById("derOnMaxVoltValMin").innerHTML = sampleData['maxVoltsMinDerOn'][1]
            </script>
            <td id="derOnMaxVoltLocMin"></td>
            <script type="text/javascript">
                document.getElementById("derOnMaxVoltLocMin").innerHTML = sampleData['maxVoltsMinDerOn'][0]
            </script>
            <td id="derOnMinVoltValMin"></td>
            <script type="text/javascript">
                document.getElementById("derOnMinVoltValMin").innerHTML = sampleData['minVoltsMinDerOn'][1]
            </script>
            <td id="derOnMinVoltLocMin"></td>
            <script type="text/javascript">
                document.getElementById("derOnMinVoltLocMin").innerHTML = sampleData['minVoltsMinDerOn'][0]
            </script>
        </tr>
        <tr>
            <td>Off</td>
            <td>Peak</td>
            <td id="derOffMaxVoltValPeak"></td>
            <script type="text/javascript">
                document.getElementById("derOffMaxVoltValPeak").innerHTML = sampleData['maxVoltsPeakDerOff'][1]
            </script>
            <td id="derOffMaxVoltLocPeak"></td>
            <script type="text/javascript">
                document.getElementById("derOffMaxVoltLocPeak").innerHTML = sampleData['maxVoltsPeakDerOff'][0]
            </script>
            <td id="derOffMinVoltValPeak"></td>
            <script type="text/javascript">
                document.getElementById("derOffMinVoltValPeak").innerHTML = sampleData['minVoltsPeakDerOff'][1]
            </script>
            <td id="derOffMinVoltLocPeak"></td>
            <script type="text/javascript">
                document.getElementById("derOffMinVoltLocPeak").innerHTML = sampleData['minVoltsPeakDerOff'][0]
            </script>
        </tr>
        <tr>
            <td>Off</td>
            <td>Min</td>
            <td id="derOffMaxVoltValMin"></td>
            <script type="text/javascript">
                document.getElementById("derOffMaxVoltValMin").innerHTML = sampleData['maxVoltsMinDerOff'][1]
            </script>
            <td id="derOffMaxVoltLocMin"></td>
            <script type="text/javascript">
                document.getElementById("derOffMaxVoltLocMin").innerHTML = sampleData['maxVoltsMinDerOff'][0]
            </script>
            <td id="derOffMinVoltValMin"></td>
            <script type="text/javascript">
                document.getElementById("derOffMinVoltValMin").innerHTML = sampleData['minVoltsMinDerOff'][1]
            </script>
            <td id="derOffMinVoltLocMin"></td>
            <script type="text/javascript">
                document.getElementById("derOffMinVoltLocMin").innerHTML = sampleData['minVoltsMinDerOff'][0]
            </script>
        </tr>
    </table>

    <p class="reportTitle">Maximum Voltage Flicker when DER is turned off</p>
    <table id="maxVoltFlicker">
        <tr>
            <th>Load Condition</th>
            <th>&percnt;</th>
            <th>Location</th>
        </tr>
        <tr>
            <td>Peak</td>
            <td id="flickerValPeak"></td>
            <script type="text/javascript">
                document.getElementById("flickerValPeak").innerHTML = sampleData['maxFlickerPeak'][1].toFixed(2)
            </script>
            <td id="flickerLocPeak"></td>
            <script type="text/javascript">
                document.getElementById("flickerLocPeak").innerHTML = sampleData['maxFlickerPeak'][0]
            </script>
        </tr>
        <tr>
            <td>Min</td>
            <td id="flickerValMin"></td>
            <script type="text/javascript">
                document.getElementById("flickerValMin").innerHTML = sampleData['maxFlickerMin'][1].toFixed(2)
            </script>
            <td id="flickerLocMin"></td>
            <script type="text/javascript">
                document.getElementById("flickerLocMin").innerHTML = sampleData['maxFlickerMin'][0]
            </script>
        </tr>
    </table>

    <p class="reportTitle">Voltage Values</p>
    <div class="tableContainer">
        <table class="sortable" id="voltageViolations">
            <thead>
                <tr>
                    <th>Location</th>
                    <th>Nominal Voltage</th>
                    <th>Voltage Value</th>
                    <th>&percnt; Change</th>
                    <th>DER Status</th>
                </tr>
            </thead>
        </table>
        <script type="text/javascript">
            var voltageViolations = sampleData['voltageViolations'];
            var content = ''; var totalContent = '';

            for (var i = 0; i < voltageViolations.length; i++) {
                content = '<td>' + voltageViolations[i][0] + '</td><td>' +
                    voltageViolations[i][1].toFixed(2) + '</td><td>' +
                    voltageViolations[i][2].toFixed(2) + '</td><td>' +
                    voltageViolations[i][3].toFixed(2) + '&percnt;</td><td>' +
                    voltageViolations[i][4] + '</td>';
                if (voltageViolations[i][5] == true)
                    content = '<tr style=\"color: red\">' + content + '</tr>';
                else content = '<tr>' + content + '</tr>';
                totalContent += content
            }
            document.getElementById("voltageViolations").innerHTML += totalContent;
        </script>

        <span style="color: red">Voltage values non-compliant with ANSI C84.1 Range A Service voltages are displayed in red</span>
    </div>

    <p class="reportTitle">Voltage Flicker when DER is turned off</p>
    <div class="tableContainer">
        <table class="sortable" id="flickerViolations">
            <thead>
                <tr>
                    <th>Location</th>
                    <th>Voltage Flicker</th>
                    <th>Load Condition</th>
                </tr>
            </thead>
        </table>
        <script type="text/javascript">
            var flickerViolations = sampleData['flickerViolations'];
            var content = ''; var totalContent = '';
            for (var i = 0; i < flickerViolations.length; i++) {
                content = '<td>' + flickerViolations[i][0] + '</td><td>' + flickerViolations[i][1].toFixed(2) + '&percnt;</td><td>' + flickerViolations[i][2] + '</td>';
                if (flickerViolations[i][3] == true)
                    content = '<tr style=\"color: red\">' + content + '</tr>';
                else content = '<tr>' + content + '</tr>';
                totalContent += content
            }
            document.getElementById("flickerViolations").innerHTML += totalContent;
        </script>
        <span style="color: red">Voltage flicker values greater or equal to the input flicker threshold are displayed in
            red
        </span>
    </div>

    <p class="reportTitle">Line Loading</p>
    <div class="tableContainer">
        <table class="sortable" id="thermalViolations">
            <thead>
                <tr>
                    <th>Location</th>
                    <th>Line Load (&percnt; rating)</th>
                    <th>DER Status</th>
                </tr>
            </thead>
        </table>
        <script type="text/javascript">
            var thermalViolations = sampleData['thermalViolations'];
            var content = ''; var totalContent = '';
            for (var i = 0; i < thermalViolations.length; i++) {
                content = '<td>' + thermalViolations[i][0] + '</td><td>' + thermalViolations[i][1].toFixed(2) + '&percnt;</td><td>' + thermalViolations[i][2] + '</td>';
                if (thermalViolations[i][3] == true)
                    content = '<tr style=\"color: red\">' + content + '</tr>';
                else content = '<tr>' + content + '</tr>';
                totalContent += content
            }
            document.getElementById("thermalViolations").innerHTML += totalContent;
        </script>
        <span style="color: red">Line loading values greater or equal to the input threshold are displayed in red</span>
    </div>

    <p class="reportTitle">Regulator Power Flow</p>
    <div class="tableContainer">
        <table class="sortable" id="reversePowerFlow">
            <thead>
                <tr>
                    <th>Location</th>
                    <th>Power</th>
                    <th>DER Status</th>
                </tr>
            </thead>
        </table>
        <script type="text/javascript">
            var reversePowerFlow = sampleData['reversePowerFlow'];
            var content = ''; var totalContent = '';
            for (var i = 0; i < reversePowerFlow.length; i++) {
                content = '<td>' + reversePowerFlow[i][0] + '</td><td>' +
                    reversePowerFlow[i][1].toFixed(2) + '</td><td>' +
                    reversePowerFlow[i][2] + '</td>';
                if (reversePowerFlow[i][3] == true)
                    content = '<tr style=\"color: red\">' + content + '</tr>';
                else content = '<tr>' + content + '</tr>';
                totalContent += content
            }
            document.getElementById("reversePowerFlow").innerHTML += totalContent;
        </script>
        <span style="color: red">Reverse power flow violations displayed in red</span>
    </div>

    <p class="reportTitle">Tap Changes</p>
    <div class="tableContainer">
        <table class="sortable" id="tapChanges">
            <thead>
                <tr>
                    <th>Load Condition</th>
                    <th>Location</th>
                    <th>Tap Position DER On</th>
                    <th>Tap Position DER Off</th>
                    <th>Difference</th>
                </tr>
            </thead>
        </table>
        <script type="text/javascript">
            var tapViolations = sampleData['tapViolations'];
            var content = ''; var totalContent = '';
            for (var i = 0; i < tapViolations.length; i++) {
                content = '<td>' + tapViolations[i][0] + '</td><td>' + tapViolations[i][1] +
                    '</td><td>' + tapViolations[i][2] + '</td><td>' + tapViolations[i][3] +
                    '</td><td>' + tapViolations[i][4] + '</td>';
                if (tapViolations[i][5] == true)
                    content = '<tr style=\"color: red\">' + content + '</tr>';
                else content = '<tr>' + content + '</tr>';
                totalContent += content;
            }
            document.getElementById("tapChanges").innerHTML += totalContent;
        </script>
        <span style="color: red">Tap change differences greater or equal to the input max tap change difference are displayed
            in red</span>
    </div>

    <p class="reportTitle">Short Circuit Analysis</p>
    <div class="tableContainer">

        <p>DER Breaker Fault Current</p>
        <table class="sortable" id="faultBreaker">
            <thead>
                <tr>
                    <th>Load Condition</th>
                    <th>Fault Type</th>
                    <th>DER On</th>
                    <th>DER Off</th>
                    <th>Difference</th>
                </tr>
            </thead>
        </table>
        <script type="text/javascript">
            var faultBreaker = sampleData['faultBreaker'];
            var content = ''; var totalContent = '';
            for (var i = 0; i < faultBreaker.length; i++) {
                content = '<td>' + faultBreaker[i][0] + '</td><td>' +
                    faultBreaker[i][1] + '</td><td>' + faultBreaker[i][2].toFixed(2) +
                    '</td><td>' + faultBreaker[i][3].toFixed(2) + '</td><td>' +
                    faultBreaker[i][4].toFixed(2) + '</td>';
                content = '<tr>' + content + '</tr>';
                totalContent += content;
            }
            document.getElementById("faultBreaker").innerHTML += totalContent;
        </script>
    </div>
    <div class="tableContainer">
        <p>DER Transformer Fault Current</p>
        <table class="sortable" id="faultStepUp">
            <thead>
                <tr>
                    <th>Load Condition</th>
                    <th>Fault Type</th>
                    <th>DER On</th>
                    <th>DER Off</th>
                    <th>Difference</th>
                </tr>
            </thead>
        </table>
        <script type="text/javascript">
            var faultStepUp = sampleData['faultStepUp'];
            var content = ''; var totalContent = '';
            for (var i = 0; i < faultStepUp.length; i++) {
                content = '<td>' + faultStepUp[i][0] + '</td><td>' +
                    faultStepUp[i][1] + '</td><td>' + faultStepUp[i][2].toFixed(2) +
                    '</td><td>' + faultStepUp[i][3].toFixed(2) + '</td><td>' +
                    faultStepUp[i][4].toFixed(2) + '</td>';
                content = '<tr>' + content + '</tr>';
                totalContent += content;
            }
            document.getElementById("faultStepUp").innerHTML += totalContent;
        </script>
    </div>

    <p class="reportTitle">Fault Current Violations with DER On</p>
    <div class="tableContainer">
        <table class="sortable" id="faultCurrentViolations">
            <thead>
                <tr>
                    <th>Load Condition</th>
                    <th>Fault Location</th>
                    <th>Fault Type</th>
                    <th>Measurement Location</th>
                    <th>Pre-fault Current</th>
                    <th>Post-fault Current</th>
                    <th>&percnt; Change</th>
                </tr>
            </thead>
        </table>
        <script type="text/javascript">
            var faultCurrentViolations = sampleData['faultCurrentViolations'];
            var content = ''; var totalContent = '';
            for (var i = 0; i < faultCurrentViolations.length; i++) {
                content = '<td>' + faultCurrentViolations[i][0] + '</td><td>' +
                    faultCurrentViolations[i][1] + '</td><td>' +
                    faultCurrentViolations[i][2] + '</td><td>' +
                    faultCurrentViolations[i][3] + '</td><td>' +
                    faultCurrentViolations[i][4].toFixed(2) + '</td><td>' +
                    faultCurrentViolations[i][5].toFixed(2) + '</td><td>' +
                    faultCurrentViolations[i][6].toFixed(2) + '</td>';
                if (faultCurrentViolations[i][7] == true)
                    content = '<tr style=\"color: red\">' + content + '</tr>';
                else content = '<tr>' + content + '</tr>';
                totalContent += content;
            }
            document.getElementById("faultCurrentViolations").innerHTML += totalContent;
        </script>
        <span style="color: red">Fault current differences as a percent of the pre-fault current that are greater than or
            equal to the input threshold are displayed in red</span>
    </div>

    <p class="reportTitle">Effective Grounding Screening</p>
    <div class="tableContainer">
        <p>Line to Ground Fault at the POI</p>
        <table class="sortable" id="faultPOIVolts">
            <thead>
                <tr>
                    <th>DER Status</th>
                    <th>Fault Location</th>
                    <th>Fault Type</th>
                    <th>Pre-fault Voltage</th>
                    <th>Post-fault Voltage</th>
                    <th>Post-fault Percent</th>
                </tr>
            </thead>
        </table>
        <script type="text/javascript">
            var faultPOIVolts = sampleData['faultPOIVolts'];
            var content = ''; var totalContent = '';
            for (var i = 0; i < faultPOIVolts.length; i++) {
                content = '<td>' + faultPOIVolts[i][0] + '</td><td>' +
                    faultPOIVolts[i][1] + '</td><td>' +
                    faultPOIVolts[i][2] + '</td><td>' +
                    faultPOIVolts[i][3].toFixed(2) + '</td><td>' +
                    faultPOIVolts[i][4].toFixed(2) + '</td><td>' +
                    faultPOIVolts[i][5].toFixed(2) + '</td>';
                if (faultPOIVolts[i][6] == true)
                    content = '<tr style=\"color: red\">' + content + '</tr>';
                else content = '<tr>' + content + '</tr>';
                totalContent += content;
            }
            document.getElementById("faultPOIVolts").innerHTML += totalContent;
        </script>
        <span style="color: red">Post-fault voltage values as a percent of the pre-fault voltage that are greater than or
            equal to the input threshold are displayed in red</span>
    </div>

    </div>

    {% endif %}   
{% endblock %}

<!-- Bootstrap notes block -->
{% macro notes() %}
<div>
    <h3>Notes Log:</h3>
    <div class="form-group">
        <label for="notesDisplay" class="sr-only"></label>
        <textarea class="form-control" id="notesDisplay" rows="10" disabled="True" placeholder="There are no notes for this application at the current time.">{{data['Notes']}}</textarea>
    </div>
    <form id="notes" action="{{'/save-notes/' + data['ID']}}" method="post">
        <div class="form-group">
            <label for="noteInput" class="sr-only"></label>
            <textarea class="form-control" name="notesText" id="noteInput" rows="3" placeholder="Enter note text here and click save to add a note."></textarea>
        </div>
        <button type="submit" class="btn btn-dark" name="save" id="notesSave">Save</button>
    </form>
    <hr>
</div>
{% endmacro %}