html, body { 
    margin: 0px;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
}

#title {
    background-color: rgba(255,255,255, 0.6);
    border-radius: 0.25rem;
}

#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
    background-attachment: fixed;
    width: 100%;
}

.container-xl {
    max-width: 1000px;
}

/* These neutralize the valid feeback styling for checkboxes marked 
 * .no-validation and used for form control rather than value collection 
 */
.no-validation.form-check-input.is-valid:checked, 
.no-validation.form-check-input.is-invalid:checked, 
.was-validated .no-validation.form-check-input:valid:checked, 
.was-validated .no-validation.form-check-input:invalid:checked {
    background-color: #0d6efd;
    border-color: rgb(13, 110, 253);
}
.no-validation.form-check-input.is-valid, 
.no-validation.form-check-input.is-invalid, 
.was-validated .no-validation.form-check-input:valid, 
.was-validated .no-validation.form-check-input:invalid {
    border-color: rgba(0, 0, 0, 0.25);
}
.no-validation.form-check-input.is-valid:focus, 
.no-validation.form-check-input.is-invalid:focus, 
.was-validated .no-validation.form-check-input:valid:focus,
.was-validated .no-validation.form-check-input:invalid:focus {
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}
.no-validation.form-check-input.is-valid~.form-check-label, 
.no-validation.form-check-input.is-invalid~.form-check-label, 
.was-validated .no-validation.form-check-input:valid~.form-check-label, 
.was-validated .no-validation.form-check-input:invalid~.form-check-label {
    color: #212529;
}

/* For manually triggering display block/none for 
 * .invalid-feedback elements which are not input siblings */
.show-feedback {
    display: block;
}

/* Delegation/payment needed alert on report page button */
.alert-warning a.btn-warning {
    background-color: #664d03; 
    color: #fff3cd;
    border-color: #fff3cd;
}

/* Proposed updates on report page */
.pending-update {
    color: #664d03; 
    background-color: #fff3cd;
    border-top: 1px solid #ffecb5;
}

/* Hide extra border for collapsed stretch cells in report detail cards */
@media (max-width: 991px) {
    .card.h-100 li:nth-last-child(2) {
        border: none;
    }
}

/* Makes table row stretched links work */
tbody tr {
    transform: rotate(0);
}
/* Removes link styling from queue # fields */
tbody th a {
    color:inherit;
    text-decoration: none;
}
tbody th a:hover {
    color: inherit;
}