.container-xl {
    max-width: 1000px;
}

.no-validation.form-check-input.is-valid:checked, 
.no-validation.form-check-input.is-invalid:checked, 
.was-validated .no-validation.form-check-input:valid:checked, 
.was-validated .no-validation.form-check-input:invalid:checked {
    background-color: #0d6efd;
    border-color: rgb(13, 110, 253);
}

.no-validation.form-check-input.is-valid, 
.no-validation.form-check-input.is-invalid, 
.was-validated .no-validation.form-check-input:valid, 
.was-validated .no-validation.form-check-input:invalid {
    border-color: rgba(0, 0, 0, 0.25);
}

.no-validation.form-check-input.is-valid:focus, 
.no-validation.form-check-input.is-invalid:focus, 
.was-validated .no-validation.form-check-input:valid:focus,
.was-validated .no-validation.form-check-input:invalid:focus {
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.no-validation.form-check-input.is-valid~.form-check-label, 
.no-validation.form-check-input.is-invalid~.form-check-label, 
.was-validated .no-validation.form-check-input:valid~.form-check-label, 
.was-validated .no-validation.form-check-input:invalid~.form-check-label {
    color: #212529;
}

.show-feedback {
    display: block;
}
