[Unit]
Description=Renews certificates for r3it

[Service]
ExecStart=/usr/bin/sudo /usr/bin/certbot --webroot -w /opt/r3it/r3it renew --force-renewal

[Install]
WantedBy=timers.target